@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

html {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Oxygen', sans-serif;}

.nav__custom{
    width: 100%;
    height: 4em;
    background: transparent;
    position: absolute;
    -webkit-box-shadow: -1px -2px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -2px 22px 0px rgba(0,0,0,0.75) !important;}

.logo_chico{
    background: url(../images/hbanco.png) no-repeat content-box left;
    background-size: contain;
    height: 3.5em;
    width: 100%;}
.ul__ {
    display: inline;
}
.nav-item{
    display: inline !important;
    float: left;
    margin: 1em 1em; 
    margin-left: 5% !important;
}
.eloverlay{
    background: rgba(5, 4, 4, 0.596);
    height: 1024px;
    width: 100%;
    position: absolute;
    z-index: -111;
}
video{
    width: 100%;
    position: absolute;
    height: 800px;
    margin-top: -9%;
    z-index: -1111;

}
.hero_img{
    width: 100%;
    height: 100vh;
    background: transparent;
    
}

.logo__{
    background: url(../images/vertical.png) center no-repeat content-box;
    background-size: contain;
    height: 35em;
    width: 100%;
    margin: 0 auto;
    margin-top: -37%;
    margin-right: -45%;
    margin-left: 55%;
}

.tittle__hero{
    font-size: 3.6em;
    font-weight: 600;
    font-stretch: semi-condensed;
    font-variant: normal;
    color: #fff;
    margin-top: 12%;}

    /*  LOS BOTONES*/
.btn-outline{
    border: 2px solid #fff;
    border-radius: 5px;
}


.main_services{
    height: 100vh;
    width: 100%;
    background: #fff;
    margin: 0 auto;}

.serv__cont{
    position: absolute;
    margin-left: -7.5% !important;
    background: transparent;
    margin-top: -4.3%!important;
}

.serv__detail{
    width: 100%;
    height: 20em;
    box-sizing: border-box;
    background: #000;
    margin: 0;
    padding: 0;
    position: relative;
    border: 2px solid #fff;
    cursor: pointer;
    background: #fff;}

.cont_sipac{
    background: url(../images/condominio-alamos.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
/**/
.sipac_cont{
    background: url(../images/sipac.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.logo_sipac{
    background: url(../images/logosipacblanco.png) no-repeat center;
    background-size: contain;
    height: 15em;
    width: 100%;
    position: absolute;
    margin-top: -50%;
}
/***/
.sibo_cont{
    background: url(../images/Ehopper.JPG) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.logo_sibo{
    background: url(../images/sibo.png) no-repeat center;
    background-size: contain;
    height: 10em;
    width: 100%;
    position: absolute;
    margin-top: -35%;
}

/***/
.invt_cont{
    background: url(../images/invent.jpeg) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.logo_invt{
    background: url(../images/inve.png) no-repeat center;
    background-size: contain;
    height: 10em;
    width: 100%;
    position: absolute;
    margin-top: -35%;
}
/**/
.dash_cont{
    background: url(../images/dash.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.logo_dash{
    background: url(../images/dash1.png) no-repeat center;
    background-size: contain;
    height: 10em;
    width: 100%;
    position: absolute;
    margin-top: -35%;
}

/**/




#serv_01{
    height: 20em;
}

#serv_01:hover #image_01_hover03{
    opacity:0.7;
  }
  
  #serv_01:hover #serv_01_hover{
    opacity:1.0;
    top:20px;
    left:40px;
  }
  
  #serv_01:hover #serv_01_hover02{
    top:66px;
    left:40px;
    opacity: 1.0;
  }
  
  #serv_01_hover02 a{
    position: relative;
    top: 100px;
    left:-50px;
    color: #fff;
    list-style: none;
    cursor: pointer; }
#serv_01_hover02 p{
    font-size: .6em;
    top: 110px;
    left:-50px;
    color: #fff;
    list-style: none;
    cursor: pointer;
    position: relative; }
      /* + info*/
  #serv_01_hover02{
    width:100%;
    height: 50px;
    background-color:transparent;
    position: relative;
    top:66px;
    left:10px;
    margin:auto;
    opacity: 0.0;
    transition: all 0.4s;
    color:#fff;
    font-size:35px;
    font-weight:200;
    text-align:center;
    
  }
/******** el back que se desplaza blanco */
  #serv_01_hover03{
    background-color:#000;
    width:100%;
    height:5.9em;
    margin:auto;
    text-align:center;
    transition: all 0.4s;
    position: relative;
    top:-53%;
    opacity:0.0;
  }
  







.pro__tittle{
    position: absolute;
    margin-top: -50% !important; 
    margin-left: 89% !important;
    letter-spacing: 2px;
    
}
.nosotros_container{
    background: #352727;
    clear: both;
    height: 45em;

}

.prueba{
    margin-top: 5%;
    position: absolute;
    width: 50%;
    height: 100vh;
    margin-left: 45%;
}

/* Servicios del Index*/
/* este es el que contiene las tiras*/
.servicios{
    background: rgb(204, 201, 201);
    height: 690px;
}


.cont_serv{
    margin-right: -50% !important;
    position: absolute;
    margin-left: 45%;;
}
.servicios_cont{
    width: 100%;
    height: 6em;
   /* border: 1px solid #000;*/
    position: relative;
    background: grey;
    cursor: pointer;

}

/*# SISTEMAS WEB*/
.sis_web{
    width:100%;
    height: 2em;
    background: url(../images/sisweb.PNG) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -45%;
    margin-top: -11%;
    position: absolute;
}
.sis_web_bg{
    background: url(../images/sisweb.jpg) no-repeat  ;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:5.9em;
}
/* ##*/
.pag_web{
    width:100%;
    height: 2em;
    background: url(../images/paginas\ web.png) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -46.2%;
    margin-top: -11%;
    position: absolute;
}

.pag_web_bg{
    background: url(../images/web_page_bg.png) no-repeat  ;
    height:5.9em;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
.server{
    width:100%;
    height: 2em;
    background: url(../images/server.png) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -48.7%;
    margin-top: -11%;
    position: absolute;
}

.server_bg{
    background: url(../images/servers_bg.png) no-repeat  ;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:5.9em;
}

/*################################3*/
.infrait{
    width:100%;
    height: 2.5em;
    background: url(../images/infraIT.png) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -41.8%;
    margin-top: -11%;
    position: absolute;
}

.infra_bg{
    background: url(../images/redes_bg.png) no-repeat  ;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:5.9em;
}

/**/

.cctv{
    width:100%;
    height: 1.8em;
    background: url(../images/cctv.png) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -53.4%;
    margin-top: -11%;
    position: absolute;
}

.cctv_bg{
    background: url(../images/cctv.png_bg) no-repeat ;
    background-size: contain;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:5.9em;
}

/**/

.soporte{
    width:100%;
    height: 2.5em;
    background: url(../images/soporte.png) no-repeat center content-box;
    background-size: contain;
    cursor: pointer;
    margin-left: -42.9%;
    margin-top: -11%;
    position: absolute;
}

.soporte_bg{
    background: url(../images/soporte_bg.jpg) no-repeat ;
    background-size: contain;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:5.9em;
}





/** ## MAPA  ## **/
.map_contac{
    z-index: -111111 !important;
    position: relative;
}
.contac__{
    height: 8em;
    z-index: 99999999 !important;
    width: 80%;
    margin: 0 auto;
    margin-top: -12% !important;
    margin-left: 17%;
}
.card_contact{
    box-sizing: border-box; 
    padding: 2em;
    margin: 0 1.5em;
    background: #b2bec3d8 !important;
    border-radius: 2px;
    webkit-box-shadow: -2px 0px 29px -2px rgba(178,190,195,1);
    -moz-box-shadow: -2px 0px 29px -2px rgba(178,190,195,1);
    box-shadow: -2px 0px 29px -2px rgba(178,190,195,1);
}

.card_contact p{
    margin: 0;
    padding: 0;
    color: #437cb1;
}
.card_contact a{
   text-decoration: none;
   color: #437cb1;
}

.icon_container{
    position: relative;
    margin-top: -30%;
}

/**/

.titulosdeldiv{
    position: absolute;
    margin-left: -10%;
    margin-top: 3.5%;
    color: #000;
}


/** ##### **/
.show{
    position: absolute;
    font-size: 2em;
    color: #fff;
    margin-top: 2%;
    margin-left: 35%;
    text-decoration: none;
    
}

  #image_01:hover #image_01_hover03{
    opacity:0.2;
  }
  
  #image_01:hover #image_01_hover{
    opacity:1.0;
     top:120px;
    left:-40px;
  }
  
  #image_01:hover #image_01_hover02{
  top:66px;
    left:40px;
    opacity: 1.0;
  }
  
  #image_01_hover02 a{
    position: relative;
    top:-50px;
    left:-50px;
    color: #fff;
    list-style: none;
    margin-top: -0% !important;
    cursor: pointer;
    z-index: 111111111 !important;
  }
  /* + info*/
  #image_01_hover02{
    width:100%;
    height: 50px;
    background-color:transparent;
    position: relative;
    top:66px;
    left:60px;
    margin:auto;
    opacity: 0.0;
    transition: all 0.4s;
    color:#fff;
    font-size:35px;
    font-weight:200;
    text-align:center;
    
  }
/******** el back que se desplaza blanco */
  #image_01_hover03{
    background-color:#000;
    width:100%;
    height:5.9em;
    margin:auto;
    text-align:center;
    transition: all 0.4s;
    position: relative;
    top:-53%;
    opacity:0.0;
  }
  




/* VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/










/* ############################# --  ######################*/


.logo_us{
    margin-top: 5%;
    position: absolute;
    width: 45%;
    height: 100vh;
}

.our__team__container{
    height: 100vh;
    width: 100%;
    background: #6c5ce7;}

.team_detail{
    height: 10em;
    width: 100%;
    background: #dfe6e9;
    margin: 0 auto;
    margin-top: 5%;
    box-sizing: border-box;
    margin-left: 2%;}
.btn__custom{
    margin: 0 auto;
    align-content: center;
    margin-left: 255%;}
.contac_container{
    height: 8em;
    width: 80%;
    background: #d63031;
    position: absolute;
    margin: -20%;
    margin-left: 2%;}
.contac_detail{
    text-align: center;
    box-sizing: border-box;
    padding: 1em .5em;}
.mapa iframe{
    padding-top: 5%;
    height: 100vh;
    width: 100%;}
/* ### FOOTER   #### */
footer{
    height: 20em;
    width: 100%;
    background: #353b48;}
.logo__fade{
    background: url(../images/cuadrado.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 26em;
    position: absolute;
    margin-left: -55%;
    margin-top: -6.3%;
    opacity: .5;}
.voltear{
    text-transform: uppercase;
    transform: rotate(270deg);
    margin-left: -90%;
    margin-top: -70%;
    padding-left: -30em;
    color: #fff;
   /* position: absolute;*/
   font-size: 1.2em;
   text-align: right;}
.lista__footer{
    margin-top: 63%;
    padding-top: 0; 
    padding-left: 20%;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    color: #fff;}
.lista__footer li{
    text-decoration: none;}
.copyright{
    background: #000;
    height: 2em;
    width: 100%;}

/* ###  FIN FOOTER   #### */

/* #### SIPAC DESARROLLO####*/


.container0{
    position: relative;
    margin-top: -4.5%;
    z-index: -1;
    height: 100vh;
    overflow-y: hidden;
    background: #000;

}
.contsipac_all{
  background: rgb(214, 17, 17);
  width: 100%;
  height: 100vh;
  float: right; 
  margin-top: 0;  
}

.wraping{
    margin-top:10%;
}
.detail{
    height: 2em;
    width: 2em;
    box-sizing: border-box;
    background: #888888;
    margin: 1em;
}




.sipac_all{
  background: url(../images/sipac_video.mp4);
  width: 100%;
  height: 100vh;
  display: flex;
}


.logo_sipac_sipac{
    background: url(../images/logosipacblanco.png) center no-repeat;
    width: 90%;
    height: 110em;
    background-size: contain;
    z-index: 9999;
    position: absolute;
    top: -105%;
    left: 2%;
}

.video_sipac{
    height: 1012px;
    width: 1750px;
    margin:0;
    padding: 0;
    position: relative;
    margin-top: -85%;
    left: -95%;
    z-index: -111;

}

.pro__tittle2{
    margin-top: 255%;

}